*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android related
android/.gradle/
android/src/main/assets/

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release

# IntelliJ related
*.ipr
*.iws
.idea/

